<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.foodhub">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodHub"
        tools:targetApi="31">
        <activity
            android:name=".EndOfApp"
            android:exported="false" />
        <activity
            android:name=".RateUs"
            android:exported="false" />
        <activity
            android:name=".ConfirmMap"
            android:exported="false" />
        <activity
            android:name=".Confirm"
            android:exported="false" />
        <activity
            android:name=".Home_screen3"
            android:exported="false" />
        <activity
            android:name=".Navegation_Bar"
            android:exported="false" />
        <activity
            android:name=".AddToCart_Fragment"
            android:exported="false" />
        <activity
            android:name=".Notifgations_Fragment"
            android:exported="false" />
        <activity
            android:name=".Location_Fragment"
            android:exported="false" />
        <activity
            android:name=".Home_Screen2"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Home_Screen"
            android:exported="false" />
        <activity
            android:name=".Onboadring2_FG"
            android:exported="false" />
        <activity
            android:name=".Onboadring1_FG"
            android:exported="false" />
        <activity
            android:name=".Onboadring3_FG"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Onboadring3"
            android:exported="false" />
        <activity
            android:name=".Onboadring2"
            android:exported="false" />
        <activity
            android:name=".Onboadring1"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:theme="@style/Theme.FoodHub.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>